#navbar {
	height: 100px;
	color: var(--black);
}

#navbar > div {
	display: flex;
	align-items: center;
}

.navbarLogoFont {
	font-family: var(--main-font);
	font-size: 32px;
	font-weight: 700;
	color: inherit;
}
